.single-container
  = render './items/purchase_header'
  .single-container__main
    %section.single-container__main__l-single
      %h2.single-container__main__l-single__head
        新規会員登録
      .single-container__main__l-single__inner
        .single-container__main__l-single__inner__content
          =link_to "../users/sign_up", class: "btn-default btn-mail" do
            %i.far.fa-envelope
            メールアドレスで登録
          %button#facebook-login.btn-default.btn-facebook
            %i.fab.fa-facebook
            Facebookで登録
          %button#google-login.btn-default.btn-google
            %i.fab.fa-google-plus-g
            Googleで登録
  = render './items/purchase_footer'
