%footer.global-footer
  %nav
    %ul
      %li.download-app
        =link_to "" do
          =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4136293187", width: "35px")
          今すぐ無料ダウンロード！
      %li.footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li.top
            =link_to "" do
              会社概要（運営会社）
          %li
            =link_to "" do
              プライバシーポリシー
          %li
            =link_to "" do
              メルカリ利用規約
          %li
            =link_to "" do
              メルカリ利用規約・有償ポイントに関する特約
          %li
            =link_to "" do
              あんしんスマホサポート制度に関する利用特約
          %li
            =link_to "" do
              コンプライアンスポリシー
          %li
            =link_to "" do
              個人データの安全管理に係る基本方針
          %li
            =link_to "" do
              特定商取引に関する表記
          %li
            =link_to "" do
              資金決済法に基づく表示
          %li
            =link_to "" do
              法令順守と犯罪抑止のために
          %li
            =link_to "" do
              採用情報
      %li.footer-cell
        %h2.footer-head メルカリを見る
        %ul
          %li
            =link_to "" do
              カテゴリー一覧
          %li
            =link_to "" do
              ブランド一覧
          %li
            =link_to "" do
              出品地域一覧
          %li
            =link_to "https://jp-news.mercari.com/" do
              公式ブログ
          %li
            =link_to "https://twitter.com/mercari_jp" do
              公式Twitter
          %li
            =link_to "https://www.facebook.com/mercari_jp" do
              公式Facebook
      %li.footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            =link_to "" do
              メルカリガイド
          %li
            =link_to "" do
              メルカリロゴ利用ガイドライン
          %li
            =link_to "" do
              お知らせ
          %li
            =link_to "" do
              らくらくメルカリ便とは
          %li
            =link_to "" do
              ゆうゆうメルカリ便とは
          %li
            =link_to "" do
              大型らくらくメルカリ便とは
          %li
            =link_to "" do
              車体取引ガイド
          %li
            =link_to "" do
              返品・返金ポリシー
          %li
            =link_to "" do
              メルカリあんしん・あんぜん宣言！
          %li
            =link_to "" do
              偽ブランド品撲滅への取り組み
          %li
            =link_to "" do
              メルカリボックス
      %li.footer-cell
        %h2.footer-head 国
        %ul.footer-nav-lang
          %li
            =link_to "" do
              =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?4136293187", width: "22")
              United States
          %li
            =link_to "" do
              =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?4136293187", width: "22")
              United Kingdom
          %li
            =link_to "" do
              =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?4136293187", width: "22")
              日本
  .footer-logo
    =link_to "" do
      =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4136293187", width: "124", height: "33", alt: "mercari")
  %p.footer-copyright
    %small © 2018 Mercari

