.default-countainer
  .header
    .header__inner
      .header__inner__flex
        .header__inner__flex__left
          =link_to root_path do
            =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4136293187", size: "134x36")
        .header__inner__flex__right-form
          %input.input-default{name: "keyword", placeholder: "キーワードから探す", type: "search", value: ""}/
          %i.fa.fa-search
      .header__inner__nav-box
        .header__inner__nav-box__left
          %ul.header__inner__nav-box__left__item-nav
            %li
              %h2
                =link_to "", class: "header-nav-root" do
                  カテゴリーから探す
            %li
              %h2
                =link_to "", class: "header-nav-root" do
                  ブランドから探す
        - if user_signed_in?
          .header__inner__nav-box__right
            %ul.header__inner__nav-box__right__user-nav
              %li
                .header-user-icon
                  =link_to mypage_path(current_user.id) do
                    .icon
                      =image_tag("//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", width: "32")
                    %div マイページ
              %li
                .pc-header-nav-root
                  =link_to "" do
                    %i.fa.fa-bell
                    %span お知らせ
              %li
                .pc-header-nav-root
                  =link_to "" do
                    %i.fa.fa-check
                    %span やることリスト
        - else
          .header__inner__nav-box__right
            %ul.header__inner__nav-box__right__group
              %li.header__inner__nav-box__right__group__login
                =link_to(sign_in_path, class: "header-btn btn-red") do
                  ログイン
              %li.header__inner__nav-box__right__group__login
                =link_to(sign_up_top_mypages_path, class: "header-btn btn-blue") do
                  新規会員登録
