.items-box-child
  = link_to item_path(item.id) do
    .child-image
      - item.images.first(1).each do |image|
        =image_tag(image.image, class: "first-image")
    .child-content
      %h3.child-content__name
        = item.name
      .child-content__bottom
        .child-content__bottom__price
          = "¥#{item.price}"
        .child-content__bottom__likes
          %i.fa.fa-heart
            %span
              8
      .child-content__tax
        (税込)
