%section.items-box
  -if item.buyer_id != nil
    .sell-mark
      .SOLD SOLD
  = link_to item_path(item.id) do
    .figure.items-box-photo
      - item.images.first(1).each do |image|
        =image_tag(image.image, class: "main-image")
    .items-box-body
      %h3.items-box-name.font-2
        = item.name
      .items-box-num.clearfix
        .items-box-price.font-5
          = number_to_currency(item.price, unit: "￥", precision: 0)
        .items-box-likes.font-2
          %i.fa.fa-heart
          %span
            8
      %p.items-box-tax
        (税込)
