= render 'header'
%main.l-container
  = render 'side-bar'
  .l-content
    .l-chaoter-container
      %form.l-single-inner
        .l-single-content
          %button.btn-default.btn-red{type: "submit"} ログアウト
    .footer-sell-btn
      .footer-sell-btn__wrapper
        %div 出品
        %i.fa.fa-camera
= render 'app-banner'
= render 'footer'