@import "variable";

body{
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.header{
  background-color: #fff;
  &__inner{
    width: 1150px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__flex{
      display: flex;
      &__left{
        margin-right: 15px;
      }
      &__right-form{
        width: calc(100% - (134px + 16px));
        .input-default{
          width: 100%;
          height: 36px;
          padding: 9px 32px 9px 8px;
          background: #fafafa;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
        }
        i.fas.fa-search{
          top: 0px;
          right: 0px;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    &__nav-box{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &__left{
        &__item-nav{
          display: flex;
          list-style: none;
          li{
            padding: 0 0 0 16px;
            .header-nav-root{
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              color: #333;
              height: 38px;
              line-height: 32px;
            }
          }
        }
      }
      &__right{
        &__user-nav{
          list-style: none;
          li{
            display: inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;
            a{
              display: block;
              font-size: 14px;
              color: #333;
              text-decoration: none;
              height: 38px;
              line-height: 32px;
              i.far.fa-bell{
                font-size: 17px;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
              }
              div{
                overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                margin: 0 0 0 8px;
                font-size: 14px;
                vertical-align: middle;
              }
            }
            .header-user-icon{
              display:flex;
              figure{
                width: 32px;
                height: 32px;
                .icon{
                  transform: translate(30px, -10px);
                }
              }
            }
          }
        }
      }
    }
  }
}

