@import "variable";

body{
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.header{
  background-color: #fff;
  &__inner{
    width: 1150px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__flex{
      display: flex;
      &__left{
        margin-right: 15px;
      }
      &__right-form{
        width: calc(100% - (134px + 16px));
        display: flex;
        .input-default{
          width: 100%;
          height: 36px;
          padding: 9px 32px 9px 8px;
          background: #fafafa;
          border-radius: 4px 0 0 4px / 4px 0 0 4px;
          border: 1px solid #ccc;
          line-height: 30px;
          font-size: 16px;
          border-right: hidden;
        }
        i.fa.fa-search{
          top: 0px;
          right: 0px;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
          background: #fafafa;
          border-radius: 0 4px 4px 0/ 0 4px 4px 0;
          border: 0.7px solid #ccc;
          border-left: hidden;
        }
      }
    }
    &__nav-box{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &__left{
        &__item-nav{
          display: flex;
          list-style: none;
          li{
            padding: 0 0 0 16px;
            .header-nav-root{
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              color: #333;
              height: 38px;
              line-height: 32px;
            }
          }
        }
      }
      &__right{
        &__user-nav{
          list-style: none;
          li{
            display: inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;
            a{
              display: block;
              font-size: 14px;
              color: #333;
              text-decoration: none;
              height: 38px;
              line-height: 32px;
              i.fa.fa-bell{
                font-size: 17px;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
              }
            }
            .header-user-icon{
              display:flex;
              .icon{
                transform: translate(5px, 0);
                overflow: hidden;
                border-radius: 50%;
              }
              div{
                display: inline-block;
                margin: 0 0 0 8px;
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }
        }
        &__group{
          display:flex;
          &__login{
            margin-bottom: 7px;
            display: inline-block;
            a{
              padding: 0 10px;
              line-height: 30px;
            }
          }
          .header-btn{
            border-radius: 4px;
            text-align: center;
            padding: 3px 10px;
              &:hover{
                text-decoration: none;
              }
          }
          .btn-red{
            display: block;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            margin-right: 10px;
          }
          .btn-blue{
            display: block;
            background: #fff;
            color: #0099e8;
            border: 1px solid #0099e8;
            &:hover{
              background: #0099e8;
              color: #fff;
              transition-duration: 1s;
            }
          }
        }
      }
    }
  }
}

