.item-btns {
  background-color: $white;
  .item-edit-btn {
    background: $red;
    border: 1px solid $red;
    color: $white;
    width: 726px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 8px 27px 16px 27px;
  }
  .item-gray-btn {
    background: $btn-gray;
    border: 1px solid $red;
    color: $white;
    width: 726px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 8px 27px 16px 27px;
  }
}

.or-center {
  font-size: 16px;
  text-align: center;
}
