.l-content {
  width: 700px;
  height: 179px;
}

.l-chaoter-container {
  background-color: #fff;
}

.button-red {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red;
  &:hover{
    text-decoration: none;
    }
  a{
    text-decoration: none;
    color: #fff;
  }
}

.l-single-inner {
  width: 572px;
  height: 50px;
  padding: 64px;
}

.l-single-content-button {
  max-width: 320px;
  height: 50px;
  margin-right: 126px;
  margin-left: 126px;
}

.button-red {
  width: 318px;
  height: 48px;
  border: 1px solid $red;
  background-color: $red;
  color: #fff;
  font-size: 14px;
}
