.l-content section:hover {
  opacity: 0.8;
}


.mypage-user-icon {
  height: 200px;
  padding: 20px;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?40116333);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
    img {
      border-radius: 50%;
      margin-top: 10px;
    }
}

li {
  list-style: none;
}
.bold {
  font-weight: bold;
  color: $text-color;
}

.mypage-number {
  display: flex;
  font-size: 16px;
  margin-top: 12px;
  display: inline-block;
  text-align: center;
}

.mypage-tab-container-notification-todo {
  background-color: #fff;
}

.mypage-tabs {
  background-color: #eee;
  position: relative;
  display: block;
  color: $text-color;
  font-size: 16px;
  line-height: 72px;
}

.tab-content {
  width: 700px;
  height: 505px;
}


/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 74px;
  border-top: 2px solid #eee;
  line-height: 74px;
  font-size: 18px;
  text-align: center;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

/*購入した商品のタブのスタイル*/
.t-tab_item {
  width: calc(100%/2);
  height: 74px;
  border-top: 2px solid #eee;
  line-height: 74px;
  font-size: 18px;
  text-align: center;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*ラジオボタンを全て消す*/
input[name="t-tab_item"] {
  display: none;
}


/*タブ切り替えの中身のスタイル*/
.tab_content {
  background-color: #fff;
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#news:checked ~ #news_content,
#to-do:checked ~ #to-do_content {
  display: block;
}
/*選択されているタブのコンテンツのみを表示*/
#treading:checked ~ #treading_content,
#treaded:checked ~ #treaded_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.mypage-tabs input:checked + .tab_item {
  background-color: #fff;
  color: $text-color;
  border-top: 2px solid $red;
}

/*選択されているタブのスタイルを変える*/
.mypage-tabs input:checked + .t-tab_item {
  background-color: #fff;
  color: $text-color;
  border-top: 2px solid $red;
}

.mypage-item-link {
	width: 668px;
	height: 48px;
    display: block;
    min-height: 80px;
    padding: 16px;
    color: #333;
    display: flex;
}

.lazyloaded {
  width: 48px;
  height: 48px;
}

.mypage-item-body {
  width: 560px;
  height: 39px;
  margin-right: 40px;
  margin-left: 68px;
  a:hover {
    text-decoration: none;
  }
}

.mypage-item-text {
  overflow: hidden;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}

time {
  color: #888;
  a:link {
    text-decoration: none;
  } 
}

.fa-chevron-right {
  padding-top: 15px;
  a:link {
    text-decoration: none;
  }  
  
}

.mypage-go-list {
  width: 668px;
  height: 56px;
  padding: 16px;
  background-color: #eee;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  line-height: 56px;
}


.merukariicon {
  text-align: center;
}
.mypage-item-not-found.bold {
  text-align: center;
  color: #ccc;
}

.mypage-tab-head {
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
  font-weight: bold;
}
ul {
  list-style: none;
}
