.single-footer {
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0 0 0;
  text-align: center;
  width: 456px;
  height: 220px;
  margin: 0 auto;
  ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    li {
      text-align: -webkit-match-parent;
      a {
        display: block;
        color: #333;
        margin-right: 20px;
        font-size: 12px;
      }
    }
  }
  &__logo {
    display: block;
    margin: 40px 188px 0;
  }
  p {
    margin-top: 8px;
    width: 456px;
    height: 14px;
  }
}
