.single-container{
  &__registration-header{}
  &__main{
    display: block;
    &__content{
      width: 700px;
      margin: 0 auto;
      background: $white;
      &__head{
        font-size: 24px;
        padding: 8px 24px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      &__phone-registration{
        padding: 64px;
        border-top: 1px solid $border-color;
        .registration-content{
          max-width: 320px;
          margin: 0 auto;
          &__form-group{
            &__label{
              font-weight: 600;
              display: inline-block;
            }
            input{
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              width: 100%;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
          &__text{
            margin: 8px 0 0;
            line-height: 1.5;
          }
          &__button{
            input{
              margin: 40px 0 0;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              cursor: pointer;
              text-align: center;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
            }
          }
          &__bottom-text{
            margin: 8px 0 0;
            line-height: 1.5;
          }
          &__reason-link{
            margin: 40px 0 0;
            text-align: right;
          }
        }
      }
    }
  }
}
