.single-container {
  .single-main {
    display: block;
    .l-single-container {
      background: $white;
      width: 700px;
      margin: 0 auto;
    }
      .l-single-head {
        line-height: 1.5;
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        font-weight: 600;
      }
      .buy-item {
        text-align: center;
        &__image {
          width: auto;
          max-height: 148px;
        }
        &__name {
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 1.5;
          font-weight: 600;
        }
        &__form p{
          margin: 8px 0 0;
          line-height: 1.5;
        }
      }
      .buy-content {
        padding: 24px 12.5% 0;
        border-top: 1px solid $border-color;
        &:last-of-type {
          padding: 40px 12.5%;
        }
        &__inner {
          max-width: 320px;
          margin: 0 auto;
          h3 {
              font-size: 14px;
              font-weight: 600;
          }
          &__image {
              width: auto;
              max-height: 148px;
          }
          .buy-price-ja {
            margin: 8px 0 0;
            margin: 16px 0 0;
            font-size: 28px;
            .item-shipping-fee {
              margin: 0 0 0 8px;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .buy-accordion.not-have{
            background: #ccc;
            margin: 16px 0 0;
            height: 48px;
            width: 320px;
            .accordion-toggle {
              position: relative;
              padding: 16px;
            }
          }
          .buy-price-table {
            display: table;
            border-collapse: collapse;
            width: 100%;
            height: 60px;
            li.buy-price-row {
              height: 60px;
              .buy-price-cell_a {
                display: table-cell;
                text-align: left;
                width: 260px;
                height: 60px;
                font-weight: 600;
                font-size: 25px;
                padding: 16px 0;
              }
              .buy-price-cell_b {
                display: table-cell;
                padding: 16px 0;
                text-align: right;
                width: 101px;
                height: 60px;
                font-weight: 600;
                font-size: 23px;
                padding: 16px 0;
              }
            }
          }
          button {
            background: $red;
            border: 1px solid $red;
            color: $white;
            margin: 16px 0 0;
            width: 320px;
            height: 53px;
            font-size: 14px;
          }
        }
      }
      .buy-user-info {
        padding: 24px 12.5% 0;
        margin: 40px 0 0;
        &__text {
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.4;
        }
        a {
          text-decoration:none;
        }
        a:hover {
          text-decoration:underline;
        }
        &__fix {
          color: $blue;
          display: block;
          text-align: right;
        }
     }
  }
}



