.sell-container {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__head {
    padding: 32px 16px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1.5px solid $background-color;
  }
  &__upload {
    padding: 40px;
    border-bottom: 1.5px solid $background-color;
    &--max {
      margin: 8px 0 18px 0;
    }
    &-head {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.form-require {
  background-color: $red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.form-gray {
  background-color: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-dropbox {
  position: relative;
  min-height: 162px;
  min-height: 162px;
  background: #f5f5f5;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}

.dropzone.needsclick{
  border: 1px dashed #ccc;
  width: 620px;
  min-height: 162px;
  color: #f5f5f5;
  background: #f5f5f5;
  cursor: pointer;
}

.visible-pc {
  display: inline;
  font-weight: bold;
  color: $text-color;
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sell-content {
  border-bottom: 1.5px solid $background-color;
  padding: 40px;
}

.form-group {
  margin-top: 40px;
  label {
    font-weight: 600;
    font-size: 16px;
  }
}

.sell-sub-head {
  color: #888;
  font-size: 14px;
  font-weight: bold;
}

.category-form-box {
  margin-left: 250px;
}

.post-form-box {
  margin-left: 250px;
}

.input-default {
  margin-top: 10px;
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default {
  margin-top: 10px;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.select-default {
  z-index: 2;
  width: 366px;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 10px;
}

.select {
  outline: 0;
  -webkit-appearance: none;
}


.btn-sell.btn-red {
  width: 620px;
  height: 50px;
  background-color: $red;
  border: 1px dashed $red;
  color: #fff;
  button.btn-default.btn-red {
  width: 100%;
  }
  &__text {
    div {
    line-height: 24px;
    margin-bottom: 40px;
    }
  }
}

.question {
  display: flex;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-p-content {
  border-bottom: 1.5px solid $background-color;
  padding: 40px;
  display: flex;
}


.price-area {
  display: flex;
  justify-content: space-between;
}

.price-box {
  display: flex;
}

.input-price {
  margin-top: 10px;
  width: 126px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.input-price::value {
    text-align:right;
}

.input-price::placeholder {
    text-align:right;
}

.price-data {
  margin-top: 20px;
  padding: 24px 0;
  width: 400px;
  height: 14px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between; 
}

.price-data.bold {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.sell-btn-gray {
  text-align: center; 
  background: #aaa;
  border: 1px solid #aaa;
  color: fff;
  width: 277px;
  height: 48px;
  line-height: 48px;
  margin: 24px auto 0;
  margin-bottom: 30px;
  cursor: pointer;
  a:hover {
    text-decoration: none;
  }
}

.sell-btn-box__text {
  line-height: 20px;
  margin-bottom: 40px;
}

.sell-btn-gray:hover {
  opacity: 0.75;
}
