@import 'variable';
.l-container{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  .l-side{
    width: 280px;
    margin: 0 40px 0 0;
    &__mypage-nav{
      &__list{
        list-style: none;
        &__item:first-child{
          border: 0;
        }
        &__item{
          display: block;
          position: relative;
          min-height: 48px;
          padding-left: 16px;
          background: #fff;
          color: $text-color;
          margin: 0;
          line-height: 50px;
          text-decoration: none;
          border-top: 1px solid #eee;
          i.fas.fa-chevron-right{
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            transform: translate(0, -50%);
            font-size: 20px;
          }
          &:hover{
            background-color: #EEEEEE;
            i.fas.fa-chevron-right{
              position: absolute;
              top: 50%;
              right: 16px;
              color: $text-color;
              transform: translate(5px, -50%);
              font-size: 21px;
            }
          }
        }
      }
      &__head{
        margin: 40px 0 0;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
        &__list{
          list-style: none;
          &__item{
          display: block;
          position: relative;
          min-height: 48px;
          padding-left: 16px;
          background: #fff;
          color: $text-color;
          margin: 0;
          line-height: 50px;
          text-decoration: none;
          border-top: 1px solid #eee;
            i.fas.fa-chevron-right{
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            transform: translate(0, -50%);
            font-size: 20px;
            }
            &:hover{
            background-color: #EEEEEE;
              i.fas.fa-chevron-right{
                position: absolute;
                top: 50%;
                right: 16px;
                color: $text-color;
                transform: translate(5px, -50%);
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
