.single-container{
  &__sign-up-main{
    display: block;
    &__container{
      width: 700px;
      margin: 0 auto;
      background: $white;
      &__head{
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      form{
        padding: 64px;
        border-top: 1px solid $border-color;
      }
      &__form{
        &__content{
          max-width: 320px;
          margin: 0 auto;
          &__group{
            margin: 40px 0 0;
            &:first-child{
              margin: 0;
            }
            &__label{
              font-weight: 600;
              display: inline-block;
              font-weight: 600;
            }
            &__require{
              background: $red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: $white;
              font-size: 12px;
            }
            &__optional{
              background: $btn-gray;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: $white;
              font-size: 12px;
            }
            input{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid $input-frame;
              background: $white;
              line-height: 1.5;
              font-size: 16px;
            }
            select{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid $input-frame;
              background: $white;
              line-height: 1.5;
              font-size: 16px;
            }
          }
          .btn-default{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          .btn-red{
            margin: 40px 0 0;
            background: $red;
            border: 1px solid $red;
            color: $white;
          }
        }
      }
    }
  }
}
