.single-container
  .single-container__sign-up-header
    %h1
      =link_to root_path do
        =image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4136293187")
    %nav.single-container__sign-up-header__bar
      .single-container__sign-up-header__bar__flex
        #registration_first.single-container__sign-up-header__bar__flex__content
          会員情報
          .single-container__sign-up-header__bar__flex__content__progress-status-first
        #registration_second.single-container__sign-up-header__bar__flex__content
          電話番号認証
          #registration_bar_second.single-container__sign-up-header__bar__flex__content__progress-status
        #registration_third.single-container__sign-up-header__bar__flex__content
          住所入力
          #registration_bar_third.single-container__sign-up-header__bar__flex__content__progress-status
        #registration_fourth.single-container__sign-up-header__bar__flex__content
          支払い方法
          #registration_bar_fourth.single-container__sign-up-header__bar__flex__content__progress-status
        #registration_fifth.single-container__sign-up-header__bar__flex__content
          完了
          #registration_bar_fifth.single-container__sign-up-header__bar__flex__content__progress-status-last
